# Google Analytics Measurement ID
VITE_GA_TRACKING_ID=G-XXXXXXXXXX

# Default Google Script URL (untuk development)
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/XXXXX/exec

# Mode (development/production)
VITE_APP_MODE=development